@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}

#div1 {
	width: 200px;
	height: 200px;
	background-color: #036;
	margin-bottom: 50px;
	color: #FFF;
	
	padding-top: 50px;
	padding-left: 50px;
}

#div2 {
	width: 200px;
	height: 200px;
	background-color: #F36;
	margin-top: 50px;
}
