@charset "utf-8";

body {
	/* background-color: #000;
	background-image: url('/img/Naraka.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50px 60px; */
	background-image: url('/img/Naraka.jpg');
	background-size: cover;
}

#p1 {
	color: white;	
}

#div1 {
	width: 200px;
	height: 500px;
	background-color: #F90;
	position: fixed;
	left: 400px;
	top: 100px;
	z-index: 10;
}

#div2 {
	width: 200px;
	height: 500px;
	background-color: #0C3;
	position: absolute;
	left: 180px;
	top: 150px;
	z-index: 6;
}

#div3 {
	width: 200px;
	height: 200px;
	background-color: #F00;
	position: fixed;
	left: 300px;
	top: 100px;
	z-index: 1000000;
}