<!DOCTYPE html>
<html>
<head>
	<title>Lesson 1</title>
	<link rel="stylesheet" type="text/css" th:href="@{./css/style.css}" />
</head>
<body>
	<style>
		p {
			font-weight: bold;
			font-size: 20px;
		}
	</style>
	
	<p>
		Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1.
	</p>
	
	<p>
		Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2.
	</p>
	
	<p style="font-weight: blod; font-size: 30px">
		Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3.
	</p>
	
	<div>
		Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4.
	</div>
	
	<p id="doanvan1">
		Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5.
	</p>
	
	<p id="doanvan2">
		Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6.
	</p>
</body>
</html>