<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Vấn đề sử dụng FONT chữ trong CSS3">
	<title>Lesson 12</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson13.css}" />
</head>
<body>
	<div id="div1">
		Đây là nội dung thẻ div 1<br />
		Đây là nội dung thẻ div 2<br />
		Đây là nội dung thẻ div 3<br />
	</div>
	<div id="div2">
		Đây là nội dung thẻ div 1<br />
		<b>Đây là nội dung thẻ div 2<br /></b>
		Đây là nội dung thẻ div 3<br />
	</div>
	<div id="div3">
		Đây là nội dung thẻ div 1<br />
		Đây là nội dung thẻ div 2<br />
		Đây là nội dung thẻ div 3<br />
	</div>
	<div id="div4">
		Đây là nội dung thẻ div 1<br />
		Đây là nội dung thẻ div 2<br />
		Đây là nội dung thẻ div 3<br />
	</div>
</body>
</html>