<!DOCTYPE html>
<html>
<head>
	<title>Lesson 10</title>
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson10.css}" />
</head>
<body>
	<!-- FLOAT AND CLEAR -->
	<p id="title1">Text-Align</p>
	
	<p id="p1">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p2">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p3">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p4">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="title2">Text-Decoration</p>
	
	<p id="p5">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p6">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p7">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p8">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="title3">Text-Transform</p>
	
	<p id="p9">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p10">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p11">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="p12">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="title4">Text-Indent</p>
	
	<p id="p13">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="title5">Letter-Spacing</p>
	
	<p id="p14">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="title6">Line-Height</p>
	
	<p id="p15">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="title7">Word-Spacing</p>
	
	<p id="p16">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="title8">Text-Shadow</p>
	
	<p id="p17">
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1. <br /> 	Đây là nội dung của p1.
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	
		Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.	Đây là nội dung của p1.
	<p>
	
	<p id="title9">Direction and Unicode-bidi</p>
	
	<p id="p18">
		Đây là nội dung của p1.
	<p>
	
	<p id="title10">Vertical-Align</p>
	
	<p id="p19">
		Đây là nội dung của p1. <img id="img1" th:src="@{/img/Naraka.jpg}">Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1.
	<p>
	
	<p id="p20">
		Đây là nội dung của p1. <img id="img2" th:src="@{/img/Naraka.jpg}">Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1.
	<p>
	
	<p id="title11">Text-Overflow</p>
	
	<p id="p21">
		Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1.
		Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1.
		Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1.
	<p>
	
	<p id="p22">
		Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1.
		Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1.
		Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1. Đây là nội dung của p1.
	<p>
</body>
</body>
</html>