<!DOCTYPE html>
<html>
<head>
	<title>Lesson 7</title>
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson8.css}" />
</head>
<body>
	<div id="div1"></div>
	<div id="div2"></div>
	
	<p>
		đây là văn bản ví dụ đây là văn bản ví dụ đây là văn bản ví dụ đây là văn bản ví dụ
		<span>Đây là nội dung trong thẻ span</span>
		đây là văn bản ví dụ đây là văn bản ví dụ đây là văn bản ví dụ đây là văn bản ví dụ
	</p>
	
	<p id="p1">
		đây là văn bản ví dụ đây là văn bản ví dụ đây là văn bản ví dụ đây là văn bản ví dụ
		<span>Đây là nội dung trong thẻ span</span>
		đây là văn bản ví dụ đây là văn bản ví dụ đây là văn bản ví dụ đây là văn bản ví dụ
	</p>
</body>
</html>