<!DOCTYPE html>
<html>
<head>
	<title>Lesson 2</title>
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson2.css}" />
</head>
<body>
	<p id="doanvan1">
		Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1. Đây là P1.
	</p>
	
	<p id="doanvan2">
		Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2. Đây là P2.
	</p>
	
	<br />
	
	<div id="div1">
		<span id="span1"> 
			<p id="doanvan2">
				Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3. Đây là P3.
			</p>
		</span>
		<p>
			ĐOẠN VĂN MỚI
		</p>
		<label id="label1">
			<p>
				ĐOẠN VĂN MỚI 2
			</p>
		</label>
		<p>
			Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4. Đây là P4.
		</p>
	</div>
	
	<p>
		Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5. Đây là P5.
	</p>
	
	<span id="span3">
			<p>
				ĐOẠN VĂN MỚI 3
			</p>
	</span>
	
	<p>
		ĐOẠN VĂN MỚI 4
	</p>
	
	<p title="thư viện lập trình">
		Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6. Đây là P6.
	</p>
	
	<p title="viện khoa học máy tính">
		Đây là P7. Đây là P7. Đây là P7. Đây là P7. Đây là P7. Đây là P7. Đây là P7. Đây là P7. Đây là P7.
	</p>
</body>
</html>