<!DOCTYPE html>
<html>
<head>
	<title>Lesson 3</title>
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson3.css}" />
</head>
<body>
	<p>
		Đây là văn bản nèn. Đây là văn bản nèn.
		Đây là văn bản nèn. Đây là văn bản nèn.
		Đây là văn bản nèn. Đây là văn bản nèn.
		Đây là văn bản nèn. Đây là văn bản nèn.
		Đây là văn bản nèn. Đây là văn bản nèn.
		Đây là văn bản nèn. Đây là văn bản nèn.
		Đây là văn bản nèn. Đây là văn bản nèn.
	</p>
	<div id="div1" note="VÀNG CAM"></div>
	<div id="div2" note="XANH LÁ"></div>
	<div id="div3" note="ĐỎ"></div>
	<div id="div4" note="TÍM"></div>
	<div id="div5" note="XANH BIỂN">
		<div id="div6" note="XÁM"></div>
	</div>
</body>
</html>