<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width:device-width,initial-scale:1" />
	<meta name="description" content="Làm giao diện responsive, tự thích nghi với nhiều thiết bị" />
	<title>Lesson 15</title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@900&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson15.css}" />
</head>
<body>
	<div id="banner"></div>
	<div class="clear"></div>
	
	<div id="column1">Đây là nội dung 1. Đây là nội dung 1. Đây là nội dung 1.</div>
	<div id="column2">Đây là nội dung 2. Đây là nội dung 2. Đây là nội dung 2.</div>
	<div id="column3">Đây là nội dung 3. Đây là nội dung 3. Đây là nội dung 3.</div>
	
	<div class="clear"></div>
</body>
</html>