<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width:device-width,initial-scale:1" />
	<meta name="description" content="Giới thiệu và làm việc với kiểu dữ liệu JSON" />
	<title>Lesson 17</title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@900&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson16.css}" />
	<script type="text/javascript" src="/js/script16.js"></script>
</head>
<body onload="SetupEventForDiv()">
	<div id="div1"></div>
	<div id="div2"></div>
	
	
</body>
</html>