<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Lesson 11</title>
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson11.css}" />
</head>
<body>
	<div>
		<a>ABC</a>
		<br />
		<p>Đây là thẻ p trong thẻ div 1</p>
	</div>
	
	<div>
		<p>Đây là thẻ p đầu tiên nằm trong thẻ div 2</p>
		<a>123</a>
		<br />
		<p>Đây là thẻ p trong thẻ div 2</p>
	</div>
	
		<a>Đây là thẻ A1</a>
	
	<br />
	
	Tên: <input type="text" class="vidu" id="ten" />
	<br />
	Tuổi <input type="text" class="vidu" id="tuoi" />
	<br />
	Email: <input type="email" id="mail" />
	<br />
	Không sử dụng: <input type="text" disabled="disabled" id="notuse" />
	
	<div id="vanban">
		Đây là nội dung văn bản 1		
	</div>
	<div id="vanban">
		Đây là nội dung văn bản 2
	</div>
	<div id="vanban">
		Đây là nội dung văn bản 3
	</div>
	<div id="vanban">
		Đây là nội dung văn bản 4
	</div>
</body>
</body>
</html>