<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width:device-width,initial-scale:1" />
	<meta name="description" content="Bắt đầu với lập trình hướng đối tượng (OOP)" />
	<title>Lesson 15</title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@900&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" th:href="@{./css/lesson14.css}" />
</head>
<body>
	
	
	<script type="text/javascript" src="/js/script15.js"></script>
</body>
</html>