@charset "utf-8";

body {
	margin: 0;
}

a:link, a:active, a:visited {
	color: #900;
	font-weight: 20px;
}

a:hover {
	color: #090;
}

.vidu {
	width: 250px;
	padding: 5px;
	border: 1px solid #009;
}

.vidu:hover {
	border: 1px solid #F00;	
}

.vidu:focus {
	border: 1px solid #0CF;
}

p:first-child {
	color: #F00;
}

div:first-child {
	color: blue;
}

p:last-child {
	color: green;
}

div:last-child {
	color: #FF6699
}

#mail:valid {
	width: 250px;
	padding: 5px;
	border: 1px solid #009;
	border: 1px solid #00C;
}

#mail:invalid {
	width: 250px;
	padding: 5px;
	border: 1px solid #009;
	border: 1px solid #F00;
}

#notuse:disabled {
	width: 250px;
	padding: 5px;
	border: 1px solid #009;
	background-color: #DC0;
}

#vanban:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #090;
}

#vanban:after {
	content: "...!";
}