@charset "utf-8";

body {
	margin: 30px;
}

#vidu_transition {
	width: 100px;
	height: 100px;
	background-color: #F90;
	transition: 1s;
}

#vidu_transition:hover {
	width: 200px;
	height: 150px;
}

#transition-deplay {
	width: 100px;
	height: 100px;
	background-color: #F90;
	transition-property: width;
	transition-duration: 1s;
	transition-delay: 2s;
}

#transition-deplay:hover {
	width:800px;
}

#transform {
	width: 100px;
	height: 100px;
	background-color: #F90;
	transition: 1s;
}

#transform:hover {
	width: 200px;
	height: 150px;
}

#transform_translate {
	width: 100px;
	height: 100px;
	background-color: #093;
	transition: 1s;
}

#transform_translate:hover {
	transform: translate(100px, 50px);
}

#transform_translate2 {
	width: 100px;
	height: 100px;
	background-color: #093;
	transition: 1s;
}

#transform_translate2:hover {
	transform: translate(100px, 0px);
}

#transform_rotate {
	width: 100px;
	height: 100px;
	background-color: #C00;
	transition: 1s;
}

#transform_rotate:hover {
	transform: rotate(45deg);
}

#transform_scale {
	width: 100px;
	height: 100px;
	background-color: #C00;
	transition: 1s;
}

#transform_scale:hover {
	transform: scale(2, 3);
}

#transform_skew {
	width: 100px;
	height: 100px;
	background-color: #339;
	transition: 1s;
}

#transform_skew:hover {
	transform: skew(45deg, 0deg);
}

#transform_matrix {
	width: 100px;
	height: 100px;
	background-color: #339;
	transition: 1s;
}

#transform_matrix:hover {
	transform: matrix(1, 2, 3, 4, 5, 6);
	/* 
	1 = scaleX
	2 = skewY
	3 = skewX
	4 = scaleY
	5 = translateX
	6 - translateY
	*/
}

#transform_rotateX {
	width: 100px;
	height: 100px;
	background-color: #90C;
	transition: 1s;
}

#transform_rotateX:hover {
	transform: rotateX(45deg);
	text-align: center;
	color: white;
}

#transform_rotateX_Y {
	width: 100px;
	height: 100px;
	background-color: #90C;
	transition: 1s;
}

#transform_rotateX_Y:hover {
	transform: rotateX(45deg) rotateY(30deg);
	text-align: center;
	color: white;
}

#transform_rotateX_Y_Z {
	width: 100px;
	height: 100px;
	background-color: #90C;
	transition: 1s;
}

#transform_rotateX_Y_Z:hover {
	transform: rotateX(45deg) rotateY(30deg) rotateZ(45deg);
	text-align: center;
	color: white;
}

#transform_rotate3D {
	width: 100px;
	height: 100px;
	background-color: #FC9;
	transition: 1s;
}

#transform_rotate3D:hover {
	transform: rotate3D(1, 0, 1, 45deg);
	text-align: center;
	color: white;
}