<!DOCTYPE html>
<html>
<head>
	<title>Trang chủ</title>
</head>
<body>
	<h1>Phong cách Lolita</h1>
	<p>Lolita (ロリータ・ファッション rorīta fasshon?) là một <b>tiểu văn hóa</b> thời trang từ Nhật Bản chịu ảnh hưởng rất lớn từ quần áo và phong 
	cách thời <b>Victoria</b> từ thời <b>Rococo</b>. Một đặc tính rất đặc biệt của phong cách thời trang Lolita là tính thẩm mỹ của sự dễ thương.
	Tiểu văn hóa trang phục này có thể được phân loại thành ba kiểu chính: 'gothic', 'cổ điển' và 'ngọt ngào'. 
	Nhiều kiểu khác như 'thủy thủ', 'đất nước', 'hime' (công chúa), 'ero' (khiêu dâm), 'guro' (gore), 'phương Đông', 'punk', 'shiro (trắng)', kuro (màu đen) và lithi steampunk cũng tồn tại. 
	Phong cách này đã phát triển thành một tiểu văn hóa được theo đuổi rộng rãi ở Nhật Bản và các quốc gia khác trong những năm 1990 
	và 2000 và có thể đã suy yếu ở Nhật Bản vào những năm 2010 khi thời trang trở nên chủ đạo hơn.
	</p>
</body>
</html>