<!DOCTYPE html>
<html>
<head>
	<title>Form và IFrame</title>
</head>
<body>
	<form action="">
		<p>
			Đây là TEXTBOX <br />
			<input type="text"/>
		</p>
		<p>
			Đây là CHECKBOX <br />
			<input type="checkbox"/>
		</p>
		<p>
			Đây là RadioCheckBox <br />
			<input type="radio" name="gioitinh" checked="checked" />Nam<br />
			<input type="radio" name="gioitinh" />Nữ
		</p>
		<p>
			Đây là NÚT CHỌN FILE <br />
			<input type="file"/>
		</p>
		<p>
			Đây là DROPDOWN List <br />
			<select>
				<optgroup label="NHÓM 1"></optgroup>
				<option> Giá trị 1</option>
				<option> Giá trị 2</option>
				<option> Giá trị 3</option>
				<optgroup label="NHÓM 2"></optgroup>
				<option> Giá trị A1</option>
				<option> Giá trị A2</option>
				<option> Giá trị A3</option>
			</select>
		</p>
		<p>
			<textarea rows="15" cols="100"></textarea>
		</p>
	</form>
	
	<p> ĐÂY LÀ IFRAME</p>
	<iframe src="./tai-lieu" width="400" height="300" frameborder="1"></iframe>
</body>
</html>