<!DOCTYPE html>
<html>
<head>
	<title>Tạo bảng và chèn video</title>
</head>
<body>
	<p>Đây là table bình thường</p>
	
	<table border="1" cellpadding="10" cellspacing="0">
		<tr>
			<td>Đây là hàng 1 cột 1</td>
			<td>Đây là hàng 1 cột 2</td>
			<td>Đây là hàng 1 cột 3</td>
		</tr>
		<tr>
			<td>Đây là hàng 2 cột 1</td>
			<td>Đây là hàng 2 cột 2</td>
			<td>Đây là hàng 2 cột 3</td>
		</tr>
	</table>
	
	<p>Đây là TABLE TRỘN HÀNG VÀ CỘT</p>
	
	<table border="1" cellpadding="10" cellspacing="0">
		<tr>
			<td colspan="3">1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>3</td>
			<td>4</td>
			<td>5</td>
			<td>6</td>
		</tr>
		<tr>
			<td rowspan="2">7</td>
			<td>8</td>
			<td>9</td>
			<td>10</td>
		</tr>
		<tr>
			<td>11</td>
			<td>12</td>
			<td>13</td>
		</tr>
	</table>
	
	<p>VIDEO</p>
	 
	<video autoplay="1" controls="controls">
		<source th:src="@{/video/Jack Ma Leaves the Audience SPEECHLESS _ Jack Ma's Advices for young People.mp4}" type="video/mp4" />
	</video>
</body>
</html>